@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>

</div>

<footer class="bottom-row px-4">

    <div class="footer-section">
        <a href="/version">
            <span class="bi bi-cake2" aria-hidden="true"></span>Version  Feature 02
        </a>
    </div>
    
</footer>